.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #191a21;
  padding: 50px 10px;
  border-radius: 8px;
  max-width: 510px;
  max-height: 710px;
  margin: 0 auto;
}
#passwordLenght {
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: 2px solid darkgrey;
  border-radius: 8px;
  background: #191a27;
  color: white;
  font-size: 1.7rem;
}
input {
  height: 1.5rem;
  width: 1.5rem;
}
label {
  font-size: 1.6rem;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#button {
  --b: 3px; /* border width*/
  --r: 50px; /* the radius */
  height: 3rem;
  width: 10rem;
  color: #313149;
  padding: calc(var(--b) + 5px);
  display: inline-block;
  margin: 75px 0;
  position: relative;
  z-index: 0;
  background: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  border-radius: var(--r);
}
#button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: var(--b);
  border-radius: var(--r);
  background: var(--c, linear-gradient(to right, #9c20aa, #fb3570));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#button:hover {
  background: rgba(255, 255, 255, 0.1);
}
textarea {
  background: #191a27;
  height: 10rem;
  width: 100%;
  outline: none;
  border: 2px solid darkgrey;
  max-width: 343px;
  max-height: 423px;
  min-width: 100px;
  min-height: 100px;
  color: white;
  font-size: 1.4em;
}
