.mainContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.mainContent__content {
  background: #1c1e27;
  padding: 10px 15px;
  border-radius: 8px;
}
.mainContent__right {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  gap: 20px;
}
.card {
  width: 45%;
}
.aboutMe {
  width: 80%;
}
.card h3 {
  font-size: 1rem;
  border-bottom: 2px solid #795eb9;
  width: fit-content;
  padding: 0px 5px 5px 5px;
}
.card p {
  font-size: 1rem;
}
.expierence {
  display: flex;
  flex-direction: column;
}
#menu {
  background: none;
  outline: none;
  border: none;
}
.sidebar {
  z-index: 2;
  position: absolute;
  background: #272a36;
  height: 100%;
  right: 0;
  top: 0;
  animation: slideIn 0.6s ease 0s 1 normal forwards;
}
@keyframes slideIn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.hiddenMenu {
  margin-top: 5px;
  position: relative;
  color: white;
}
.hiddenMenu ul {
  list-style: none;
  border-radius: 8px;
  padding: 10em 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.hiddenMenu ul button {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 667px) {
  .mainContent {
    flex-direction: column;
  }
}
@media screen and (max-width: 979px) {
  .mainContent--right {
    box-sizing: border-box;
    padding: 10px 15px;
  }
  .card {
    width: 100%;
  }
}
