body {
  margin: 0;
  padding: 0;
  background-color: #191a21;
  display: flex;
  justify-content: center;
  font-family: Lato;
  color: white;
  animation: enterence 0.4s ease 0s 1 normal forwards;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #795eb9;
}
@keyframes enterence {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
