.mainContent--left {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  gap: 20px;
}
.content {
  width: 100%;
  background: #1c1e27;
  padding: 10px 0px;
  border-radius: 8px;
}
.content p {
  text-align: center;
}
.myImg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content h2 {
  text-align: center;
}
.content .list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContent--left img {
  width: 242px;
  height: 208px;
}
.mainContent--left li {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.2rem;
}
@media screen and (max-width: 667px) {
  .mainContent--left {
    width: 100%;
    padding: 5px 0px 5px 0px;
    justify-content: center;
    align-items: center;
  }
}
